/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 26, 2020, 8:37:34 PM
    Author     : SHONE
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto&display=swap');

/*GOOGLE FONTS

font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;

*/

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #2C2D3C;
}

h1, h2,h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

p{
    line-height: 24px;
}

img{
    max-width: 100%;
}

.navbar-toggler span{
    width: 30px;
    height: 3px;
    background : #28A745;
    margin-bottom: 5px;
    display: block;
}

.navbar-toggler span:last-of-type{
    margin-bottom: 0;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #2C2D3C;
    border-bottom: 3px solid #2C2D3C;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover{
     border-bottom: 3px solid #28A745;
}

.layout-section .layout-item .layout-item-icon{
    font-size: 3rem;
}

.grid-number{
    width: 68px;
    height: 68px;
    line-height: 68px; 
    font-weight: 700;
}

footer .copyrigh{
    font-family: 'Roboto', sans-serif;
}